target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Spring Boot ###
*.log

### IDE ###
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

### OS ###
.DS_Store
Thumbs.db
